
@model InternTest.ViewModels.StudentViewModel
<style>
    label {
        font-weight: bold
    }
</style>
@using (Html.BeginForm("AddStudent", "Home", FormMethod.Post))
{
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.Label("First Name")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.Label("Last Name")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.Label("Field")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Field, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="form-group">
                    @Html.Label("Age")
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.Age, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                </div>
            </div>
        </div>

       
        <br>
        <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Add</button>
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
    </div>
}


